@model bai5.SDDichVu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SDDichVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DICHVU.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DICHVU.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONG.LoaiPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONG.LoaiPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THUEPHONG.MaHDThuePhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUEPHONG.MaHDThuePhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
