@model IEnumerable<bai5.PHONG>

@{
    ViewBag.Title = "Index";
}

    <h2>DANH SÁCH PHÒNG</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaPhong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiPhong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaPhong }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaPhong }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaPhong })
            </td>
        </tr>
        }
    </tbody>
</table>
