@model IEnumerable<bai5.THANHTOAN>

@{
    ViewBag.Title = "Index";
}

<h2>THANH TOÁN</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NHANVIEN.HoTenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.THUEPHONG.MaHDThuePhong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienPhong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NHANVIEN.HoTenNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.THUEPHONG.MaHDThuePhong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TienPhong)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaThanhToan }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaThanhToan }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaThanhToan })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NHANVIEN.HoTenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.THUEPHONG.MaHDThuePhong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienPhong)
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
